{% extends "askme/base.html" %}
{% load static %}

{% block title %}
  buSQues
{% endblock %}

{% block content %}
            <h1 style="margin-bottom: 40px;">Log in</h1>
            <div class="row">
                <div class="col-2">
                    <p class="new-question-title">login</p>
                </div>
                <div class="col-10">
                    <input type="text" name="login" placeholder="login" id="" class="settings-textareas">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <p class="new-question-title">password</p>
                </div>
                <div class="col-10">
                    <input type="text" name="password" placeholder="password" id="" class="settings-textareas">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-2">
                    <p class="new-question-title"></p>
                </div>
                <div class="col-10">
                  <button type="button" class="btn btn-primary btn-lg" style="font-weight: bold;">Log in</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    
                </div>
                <div class="col-10">
                    <a href="{% url 'app:signup' %}" class="new-question-title">Create account</a>
                </div>
            </div>
        {% endblock %}
