{% load static %}

<div class="row question">
    <div class="col-2">
        
        {% block question_avatar %}
        {% endblock question_avatar %}
        
        <div style="margin-top:20px;">
          <div class="centered-content-div">
            <button><img src="{% static '/img/arrow.png' %}" style="width: 20px; height: 20px;" alt=""></button>
          </div>
          <div class="centered-content-div">
            {% block question_likes %}
            {% endblock question_likes %}
          </div>
          <div class="centered-content-div">
            <button><img src="{% static '/img/arrow.png' %}" style="width: 20px; height: 20px; rotate: 180deg;" alt=""></button>
          </div>
        </div>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-12">
          <div class="question-title">
                {% block question_title %}
                {% endblock %}
          </div>
          <div class="question-text">
            {% block question_content %}
            {% endblock %}
          </div>
        </div>
        <div class="row" style="padding-left: 14px;">
          <div class="col-12 question-info">
            <h4>Tags</h4>
            <div class="tags-question">
                {% block question_tags %}
                {% endblock %}
            </div>
          </div>

        </div>
      </div>
    </div>
</div>