{% load static %}


<h1>Tags</h1>
<div class="tags-right-bar">
    {% for tag in top_tags %}
        <span class="badge tags-bg-green">
            <a class="tag-link-white" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
        </span>
    {% endfor %}
</div>

<h1>Top members</h1>
<div class="top-members">
    {% for member in best_members %}
        <div class="user">
            <a href="#"><span class="badge bg-success top-user">{{ member.profile.username }}</span></a>
        </div>
    {% endfor %}
</div>