main > .container {
    padding-top: 100px;
    margin-left: 60px;
}

#busques {
    font-size: 40px;
}

.nav-my-link {
    font-size: 24px;
}

.navbar-custom-collapse {
    height: 70px;
}

.bg-green {
    background-color: #9FE48E;
    max-height: 80px;
}

.question-text {
    width: auto;
    word-wrap: break-word;
}

.answer-text {
    width: auto;
    word-wrap: break-word;
    font-size: 21px;
    margin-bottom: 16px;
}

.question {
    border: 5px solid gray;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 10px;
}

.line-before-answer-form {
    border-bottom: 5px solid gray;
    margin-left: 30px;
    margin-top: 40px;
}

.input-form-textarea {
    width: 100%;
    border: 5px solid gray;
    margin-top: 35px;
    border-radius: 10px;
    min-height: 200px;
    margin-bottom: 10px;
}

.answer {
    border: 5px solid gray;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 10px;
}

.question-detail {
    border-bottom: 5px solid gray;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.question-image {
    max-width: 150px;
    max-height: 150px;
}

.question-title {
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 120%;
}

.question-answers p {
    /* padding: 2px 0px 2px 0px; */
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    /* margin-top: 4px; */
}

.question-info {
    margin-top: 20px;
    word-wrap: break-word;
    width: 240px;
}

.user {
    font-size: 20px;
    margin-bottom: 5px;
}

.right-bar {
    padding-left: 30px;
}

.tags {
    width: auto;
    margin-bottom: 15px;
    /* word-wrap: break-word; */

}

.navbar-avatar {
    min-width: 170px;
    margin-right: 10px;
}

.navbar-avatar img{
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.navbar-settings-logout {
    padding-right: 10px;
    font-size: 16px;
    /* display: inline-block; */
}

.navbar-settings-logout a{
    color: black;
}