<!doctype html>
<html lang="en" class="h-100">
  <head>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/custom.css">
  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-green">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">buSQues</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <form class="d-flex" style="margin-left: 10px;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">ASK!</button>
            </form>
          </li>
        </ul>
        <!-- AVATAR -->
        <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">ASK!</button>
        </form> -->
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
        <div class="col-8">
            <!-- QUESTIONS -->
            <h1>Questions</h1>
            <div class="row question">
                <div class="col-3">
                    <img src="../static/img/question1.jpeg" class="question-image" alt="question image">
                </div>
                <div class="col-9">
                    <div class="question-title">
                        First Question
                    </div>
                    <div class="question-text">
                        Lorem Ipsum
                    </div>
                </div>
            </div>
            <div class="row question">
                <div class="col-3">
                    <img src="../static/img/question1.jpeg" class="question-image" alt="question image">
                </div>
                <div class="col-9">
                    <div class="question-title">
                        First Question
                    </div>
                    <div class="question-text">
                        Lorem Ipsum
                    </div>
                </div>
            </div>
            <div class="row question">
                <div class="col-3">
                    <img src="../static/img/question1.jpeg" class="question-image" alt="question image">
                </div>
                <div class="col-9">
                    <div class="question-title">
                        First Question
                    </div>
                    <div class="question-text">
                        Lorem Ipsum
                    </div>
                </div>
            </div>
            <div class="row question">
                <div class="col-3">
                    <img src="../static/img/question1.jpeg" class="question-image" alt="question image">
                </div>
                <div class="col-9">
                    <div class="question-title">
                        First Question
                    </div>
                    <div class="question-text">
                        Lorem Ipsum
                    </div>
                </div>
            </div>
            <div class="row question">
                <div class="col-3">
                    <img src="../static/img/question1.jpeg" class="question-image" alt="question image">
                </div>
                <div class="col-9">
                    <div class="question-title">
                        First Question
                    </div>
                    <div class="question-text">
                        Lorem Ipsum
                    </div>
                </div>
            </div>
            <div class="row question">
                <div class="col-3">
                    <img src="../static/img/question1.jpeg" class="question-image" alt="question image">
                </div>
                <div class="col-9">
                    <div class="question-title">
                        First Question
                    </div>
                    <div class="question-text">
                        Lorem Ipsum
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <!-- TOP_INFO -->
            <h2>Tags</h2>
            <div class="tags">
                <span class="badge bg-primary">Python</span>
                <span class="badge bg-secondary">CSS</span>
            </div>
            <h2>Top members</h2>
            <div class="top-members">
                <p>pfwme</p>
            </div>

        </div>
    </div>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>



      
  </body>
</html>
