<!doctype html>
<html lang="en" class="h-100">
  <head>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/custom.css">
  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-green">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" id="busques">buSQues</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-custom-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" style="padding-top: 10px;">
          <li class="nav-item">
            <a class="nav-link active nav-my-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active nav-my-link" aria-current="page" href="#">ASK</a>
          </li>
          <li class="nav-item">
            <form class="d-flex" style="margin-left: 25px; height: 55px;">
                <input class="form-control me-2" style="margin-right:13px; border-radius: 16px;" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" style="border-radius: 10px;background-color: #afdca4; color: white;" type="submit">Find</button>
            </form>
          </li>
        </ul>
        <div class="navbar-avatar">
          <div class="row">
            <div class="col-4">
              <a href="#">
                <img src="../static/img/question1.jpeg" alt="">

              </a>
            </div>
            <div class="col-8" style="padding-left: 5px;">
              <div class="row">
                <div class="col-12">
                  <span style="font-size: 20px;">User1hgytdyvli</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 navbar-settings-logout">
                  
                    <a href="">Settings</a>
                    <a href="">Logout</a>
                  
             
                  <!-- <span>Logout</span> -->
                  
                </div>
                <!-- <div class="col-6 navbar-settings-logout">
                  
                  <span>Logout</span>
                </div> -->
              </div>
              <!-- <p style="font-size: 18px;">USER1</p> -->
            </div>
          </div>
        </div>
        <!-- AVATAR -->
        <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">ASK!</button>
        </form> -->
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
        <div class="col-8">
            <!-- QUESTIONS -->
            <h1>Questions</h1>

            <div class="row question">
                <div class="col-2">
                    <img src="../static/img/question1.jpeg" class="question-image" alt="question image">
                    <div style="margin-top:20px;">
                      <div class="centered-content-div">
                        <button><img src="../static/img/arrow.png" style="width: 20px; height: 20px;" alt=""></button>
                      </div>
                      <div class="centered-content-div">
                        100
                      </div>
                      <div class="centered-content-div">
                        <button><img src="../static/img/arrow.png" style="width: 20px; height: 20px; rotate: 180deg;" alt=""></button>
                      </div>
                    </div>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col-12">
                      <div class="question-title">
                          First Question How to biuld a moonpark???
                      </div>
                      <div class="question-text">
                          Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum dd kjsnoinfosnpfnpsfpompfmslkmflsmkmslkmflmlmflskmlkmlsmlfkmslmflm
                          Lorem IpsumLorem Im IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
                      </div>
                    </div>
                    <div class="row" style="padding-left: 14px;">
                      <div class="col-12 question-info">
                        <h4>Tags</h4>
                        <div class="tags-question">
                          <span class="badge bg-primary">Python</span>
                          <span class="badge bg-secondary">CSS</span>
                          <span class="badge bg-secondary">CSS</span>
                          <span class="badge bg-secondary">CSS</span>
                          <span class="badge bg-secondary">CSS</span>                          <span class="badge bg-secondary">CSS</span>
                          <span class="badge bg-secondary">CSS</span>
                          <span class="badge bg-secondary">CSS</span>
                          <span class="badge bg-secondary">CSS</span>
                          <span class="badge bg-secondary">CSS</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>


        </div>
        <div class="col-4 right-bar">
            <!-- TOP_INFO -->
            <h1>Tags</h1>
            <div class="tags-right-bar">
                <span class="badge bg-primary">Python</span>
                <span class="badge bg-secondary">CSS</span>
                <span class="badge bg-secondary">CSS</span>
                <span class="badge bg-secondary">CSS</span>
                <span class="badge bg-secondary">CSS</span>
                <span class="badge bg-secondary">CSS</span>
                <span class="badge bg-secondary">CSS</span>
                <span class="badge bg-secondary">CSS</span>
                <span class="badge bg-secondary">CSS</span>
                <span class="badge bg-secondary">CSS</span>
            </div>
            <h1>Top members</h1>
            <div class="top-members">
              <div class="user">
                <a href="#">User1</a>
              </div>
              <div class="user">
                <a href="#">User1</a>
              </div>
              <div class="user">
                <a href="#">User1</a>
              </div>
            </div>

        </div>
    </div>
  </div>

  <!-- paginator -->
  <nav aria-label="Page navigation example" class="paginator-mg">
    <ul class="pagination">
      <li class="page-item "><a class="page-link paginator-prev" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link paginator-number" href="#">1</a></li>
      <li class="page-item"><a class="page-link paginator-number" href="#">2</a></li>
      <li class="page-item"><a class="page-link paginator-number" href="#">3</a></li>
      <li class="page-item"><a class="page-link paginator-next" href="#">Next</a></li>
    </ul>
  </nav>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>



      
  </body>
</html>
