<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>Answers</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/custom.css">
  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-green">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" id="busques">buSQues</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-custom-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" style="padding-top: 10px;">
          <li class="nav-item">
            <a class="nav-link active nav-my-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active nav-my-link" aria-current="page" href="#">ASK</a>
          </li>
          <li class="nav-item">
            <form class="d-flex" style="margin-left: 25px; height: 55px;">
                <input class="form-control me-2" style="margin-right:13px; border-radius: 16px;" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" style="border-radius: 10px;background-color: #afdca4; color: white;" type="submit">Find</button>
            </form>
          </li>
        </ul>
        <div class="navbar-avatar">
          <div class="row">
            <div class="col-4">
              <a href="#">
                <img src="../static/img/question1.jpeg" alt="">

              </a>
            </div>
            <div class="col-8" style="padding-left: 5px;">
              <div class="row">
                <div class="col-12">
                  <span style="font-size: 20px;">User1hgytdyvli</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 navbar-settings-logout">
                  
                    <a href="">Settings</a>
                    <a href="">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
        <div class="col-8">
            <!-- QUESTION -->
            <div class="row question">
              <div class="col-2">
                  <img src="../static/img/Avatar_rapuncel.jpg" class="question-image" alt="question image">
                  <div style="margin-top:20px;">
                    <div class="centered-content-div">
                      <button><img src="../static/img/arrow.png" style="width: 20px; height: 20px;" alt=""></button>
                    </div>
                    <div class="centered-content-div">
                      39
                    </div>
                    <div class="centered-content-div">
                      <button><img src="../static/img/arrow.png" style="width: 20px; height: 20px; rotate: 180deg;" alt=""></button>
                    </div>
                  </div>
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-12">
                    <div class="question-title">
                        How to make the best long-island like in America 20s??
                    </div>
                    <div class="question-text">
                        I tried lots of tutorials, but still cant make it really tasty. And of course
                        it should be mindblowing n a lot of fun. I ll keep ur advises  secret and pass it 
                        just on my children. TY!!
                    </div>
                  </div>
                  <div class="row" style="padding-left: 14px;">
                    <div class="col-12 question-info">
                      <h4>Tags</h4>
                      <div class="tags-question">
                        <span class="badge tags-bg-green">Cocktails</span>
                        <span class="badge tags-bg-dark">long-island</span>
                        <span class="badge tags-bg-red">Party</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
          </div>


            <!-- ANSWERS -->
            <h3 style="text-align: center; margin-bottom: 30px;">Answers</h3>

            <!-- Answer1 -->
            <div class="row answer">
              <div class="col-1" style="max-width: 60px;">
                <div style="margin-top:20px;">
                  <div class="centered-content-div">
                    <button><img src="../static/img/arrow.png" style="width: 20px; height: 20px;" alt=""></button>
                  </div>
                  <div class="centered-content-div">
                    <!-- likes -->
                    100
                  </div>
                  <div class="centered-content-div">
                    <button><img src="../static/img/arrow.png" style="width: 20px; height: 20px; rotate: 180deg;" alt=""></button>
                  </div>
                </div>

              </div>
              <div class="col-2">
                  <img src="../static/img/question1.jpeg" class="question-image" alt="question image">
              </div>
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <div class="question-text">
                        Its better for you to study or work hard, than asking such questions
                        about godless alcohol. God or AA-community would help you, my dear sister((
                    </div>
                  </div>
                  <div class="col-12" style="margin-top: 20px;">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label" for="flexCheckChecked">
                        Correct Answer
                      </label>
                    </div>

                  </div>
                </div>
              </div>
          </div>

          <!-- Answer2 -->
          <div class="row answer">
            <div class="col-1" style="max-width: 60px;">
              <div style="margin-top:20px;">
                <div class="centered-content-div">
                  <button><img src="../static/img/arrow.png" style="width: 20px; height: 20px;" alt=""></button>
                </div>
                <div class="centered-content-div">
                  <!-- likes -->
                  100
                </div>
                <div class="centered-content-div">
                  <button><img src="../static/img/arrow.png" style="width: 20px; height: 20px; rotate: 180deg;" alt=""></button>
                </div>
              </div>

            </div>
            <div class="col-2">
                <img src="../static/img/question1.jpeg" class="question-image" alt="question image">
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12">
                  <div class="question-text">
                    Fill a cocktail shaker with ice. Pour vodka, rum, gin, tequila, triple sec, and sour mix over ice; cover and shake.
                    Pour cocktail into a Collins or hurricane glass; top with splash of cola for color. Garnish with a lemon slice. 
                    Garnish with lemon slices and mint leaves! 
                    That is all!! 
                  </div>
                </div>
                <div class="col-12" style="margin-top: 20px;">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Correct Answer
                    </label>
                  </div>

                </div>
              </div>
            </div>
        </div>


            <!-- FORM -->
            <div class="row line-before-answer-form"></div>
            <div style="margin-left: 30px; padding-right: 0px;">
                <textarea class="input-form-textarea" placeholder="My answer"></textarea>
                <button type="button" class="btn btn-primary btn-lg">Answer</button>

            </div>
        </div>
        <div class="col-4 right-bar">
            <!-- TOP_INFO -->
            <h1>Tags</h1>
            <div class="tags-right-bar">
              <span class="badge tags-bg-green">Python</span>
              <span class="badge tags-bg-dark">CSS</span>
              <span class="badge tags-bg-red">Java</span>
              <span class="badge tags-bg-pink">VK</span>
              <span class="badge tags-bg-gray">Glam</span>                          
              <span class="badge tags-bg-orange">Golanger</span>
              <span class="badge tags-bg-blue">Human History</span>
              <span class="badge tags-bg-purple">C--</span>
              <span class="badge tags-bg-burgundy">C0ding</span>
              <span class="badge tags-bg-indigo">Society</span>
            </div>
            <h1>Top members</h1>
            <div class="top-members">
              <div class="user">
                <a href="#"><span class="badge bg-success top-user">User1</span></a>
              </div>
              <div class="user">
                <a href="#"><span class="badge bg-success top-user">GeniosWunderkind</span></a>
              </div>
              <div class="user">
                <a href="#"><span class="badge bg-success top-user">Miss her</span></a>
              </div>
            </div>
        </div>
    </div>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>



      
  </body>
</html>
