{% load static %}

<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>buSQues</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/custom.css' %}">
  </head>
  <body class="d-flex flex-column h-100">
    
  <header>
    {% include 'app/include/templates/navbar.html' %}
  </header>

  <main class="flex-shrink-0">
    <div class="container">
      <div class="row">
          <div class="col-8">

            {% block content %}
            {% endblock %}

          </div>

          <div class="col-4 right-bar">
            {% block right_bar %}
            {% endblock %}
        </div>
    </div>
  </div>
</main>
  </body>
</html>
