{% extends "app/base.html" %}
{% load static %}

{% block title %}
  buSQues
{% endblock %}

{% block content %}
            <h1 style="margin-bottom: 40px;">Settings</h1>
            <div class="row">
                <div class="col-2">
                    <p class="new-question-title">Login</p>
                </div>
                <div class="col-10">
                    <input type="text" name="Login" placeholder="Login" id="" class="settings-textareas">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <p class="new-question-title">Email</p>
                </div>
                <div class="col-10">
                    <input type="email" name="Email" id="" placeholder="Email" class="settings-textareas">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <p class="new-question-title">Nickname</p>
                </div>
                <div class="col-10">
                    <input type="text" name="Nickname" placeholder="Nickname" id="" class="settings-textareas">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <p class="new-question-title">Upload Avatar</p>
                </div>
                <div class="col-10">
                    <img src="{% static 'img/user.png' %}" alt="Your Avatar" class="settings-img">
                    <div style="margin-top: 30px;">
                        <input type="text" name="image-path" placeholder="Source" id="" class="settings-textareas">
                        <button type="button" class="btn btn-outline-primary">Choose</button>

                    </div>
                    
                    <button type="button" class="btn btn-primary btn-lg" style="margin-top: 30px;">Save</button>
                </div>
            </div>
{% endblock %}
